.magicalHeader {
  background-color: #40434E;
  text-align: center;
  padding: 15px;
}

.magicalHeader h1 {
  color: white;
}

.shelfCard {
  display: inline-block;
  float: left;
}

.card {
  border: 1 px solid black;
  margin: 10px;
}

.card-img-top {
  width: 100%;
}
